<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Created Per Month</title>
    {% load static %}
</head>
<body>
    <a class="link" href="{% url 'recipes:home' %}">
        <img src="{% static 'recipes/images/CC_Logo.jpg' %}" alt="Collective Cookbook Logo" ><br>
    </a>
    <a class="logout-link" href ="{%url 'logout' %}"> Logout </a>
    <h2>Recipes Created Per Month</h2>
    
    <!-- Display the chart image -->
    <img src="data:image/png;base64,{{ chart_image }}" alt="Recipe Difficulty Distribution Chart">
    
    <!-- Display the description if available -->
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
</body>
</html>
