<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Type Distribution</title>
</head>
<body>
    <header>
        <a class="link" href="{% url 'recipes:home' %}">
            <img src="{% static 'recipes/images/CC_Logo.jpg' %}" alt="Collective Cookbook Logo" ><br>
        </a>
        <a class="logout-link" href ="{%url 'logout' %}"> Logout </a>
        <h2>Recipe Type Distribution</h2>
    </header>
    
    <!-- Display the chart image -->
    <img src="data:image/png;base64,{{ chart_image }}" alt="Recipe Type Distribution Chart">
    

    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var navbarButton = document.querySelector('.navbar-toggler');
            var navbarCollapse = document.getElementById('navbarNav');
    
            navbarButton.addEventListener('click', function () {
                var expanded = navbarButton.getAttribute('aria-expanded') === 'true';
                navbarButton.setAttribute('aria-expanded', !expanded);
                navbarCollapse.classList.toggle('show'); // If you want to toggle the 'show' class as well
            });
        });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'recipes/scripts.js' %}"></script>
</body>
</html>
