<!-- Detailed view of a recipe with specific information -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Cookbook Collective</title>
        
        <link rel="stylesheet" href="{% static 'recipes/styles.css' %}">
     
    </head>

    <body>
        <style>
            :root {
                --secondary-color: #fbd6cf; /* Define your custom secondary color variable */
            }
        
            .navbar-custom {
                background-color: var(--secondary-color); /* Use the custom secondary color */
            }
        </style>
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header d-flex align-items-center">
                    <a class="link horizontal-centering" href="{% url 'recipes:home' %}">
                        <img src="{% static 'recipes/images/CC_Logo.jpg' %}" alt="Collective Cookbook Logo" class="logo">
                        <br>Home
                    </a>
                    <p><h2>The Cookbook Collective</h2></p>
                </div>
                <button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <!-- Show Logout option when logged in -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <!-- Show Login option when logged out -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:recipe_list' %}">Browse</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:search' %}">Search</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:create_recipe' %}">Create Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:delete_account' %}">Delete Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:visualizations' %}">Data Visualizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:credits' %}">Credits</a>
                        </li>
                        <!-- Add more items as needed -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- All recipe instances are listed and centered -->
        <div class="horizontal-centering">
            <header>
                <a href="{% url 'recipes:home' %}">
                    <!-- Loads the image for the recipe, served from the static dir -->
                    <img src="{% static 'recipes/images/CC_Logo.jpg' %}" alt="Collective Cookbook Logo" class="logo">
                </a>
                <h1> {{object.name}} </h1>
                <a class="logout-link" href="{% url 'logout' %}"> Logout </a>
            </header>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if object.pic %}
                <img class="increase-top-margin" src="{{object.pic.url}}" width="300" height="300" /> <br>
            {% else %}
                <img class="increase-top-margin" src="{{ object.pic.url|default:'recipes/no_picture.jpg' }}" width="300" height="300" /> <br>
            {% endif %}

            <!-- Detail view will access and display the following properties from the object -->
            <div class="detail-text">
                <b>Ingredients: </b> {{object.ingredients}} <br><br>
                <b>Cooking Time: </b> {{object.cooking_time}} <br><br>
                <b>Difficulty: </b> {{object.difficulty}} <br><br>
                <b>Serves: </b> {{ object.min_serving_size }} to {{ object.max_serving_size }} <br><br>
                <b>Type of Recipe: </b> {{object.type_of_recipe}} <br><br>
                <b>Directions: </b> {{object.directions}} <br><br>
            </div>
        </div>
    </body>
</html>
