<!-- visualizations.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .visualization-link {
            margin: 20px;
        }
    </style>
    <!-- Add JavaScript to dynamically update the URL -->
    <script>
        function updateURL() {
            var selectedType = document.getElementById("typeOfRecipe").value;
            var url = "{% url 'recipes:recipe_difficulty_distribution_detail' type_of_recipe=selectedType %}";
            document.getElementById("visualizationLink").href = url;
        }
    </script>
    <!-- Add JavaScript to dynamically update the URL -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var errorMessage = document.getElementById('errorMessage');
            var recipeTypeLink = document.getElementById('visualizationLink');
            var typeOfRecipeSelect = document.getElementById('typeOfRecipe');  // Adjust the ID as per your form
    
            // Update the initial URL
            updateURL();
            var errorMessage = document.getElementById('errorMessage');
            // To hide the error message
            errorMessage.style.display = 'none';

            recipeTypeLink.addEventListener('click', function (event) {
                // Check if a type_of_recipe is selected
                
                if (typeOfRecipeSelect.value === '') {
                    event.preventDefault();  // Prevent the link from navigating
                    errorMessage.style.display = 'block';  // Show the error message
                }
            });
    
            typeOfRecipeSelect.addEventListener('change', function () {
                // Update the URL when the user changes the dropdown selection
                updateURL();
                errorMessage.style.display = 'none';  // Hide the error message when the user selects a type_of_recipe
            });
        });
    </script>
    

    
    
    
    {% load static %}
    <!--css stylesheet-->
    <link rel="stylesheet" href="{% static 'recipes/styles.css' %}">
</head>
<body>
    <header >
        <!-- Logo linking to the home page -->
        <a class="link" href="{% url 'recipes:home' %}">
            <img src="{% static 'recipes/images/CC_Logo.jpg' %}" alt="Collective Cookbook Logo" ><br>
        </a>
        <h1>Visualizations</h1>
        <a class="logout-link" href ="{%url 'logout' %}"> Logout </a>
    </header>
    

    <!-- Your existing visualization link -->
    <div class="visualization-link horizontal-centering" style= "margin-top: 6%;">
        <h2>Recipe Difficulty Distribution</h2>
        {% if message %}
            <p class="error-message" id="errorMessage">{% if message %}{{ message }}{% endif %}</p>

        {% endif %}

        <!-- Add a form or dropdown menu for type_of_recipe selection -->
        <form id="recipeTypeForm">
            <label for="typeOfRecipe">Select Recipe Type:</label>
            <select id="typeOfRecipe" name="type_of_recipe" onchange="updateURL()">
                <option value="" {% if not type_of_recipe %}selected{% endif %}>-- Select --</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
            </select>
        </form>
        <p>Click the link below to view the Recipe Difficulty Distribution:</p>

        <a class="link" id="visualizationLink" href="{% url 'recipes:recipe_difficulty_distribution_detail' type_of_recipe='' %}">Go to Recipe Difficulty Distribution</a>

    </div>

    <div class="visualization-link horizontal-centering">
        <h2>Recipe Type Distribution</h2>
        <p>Click the link below to view the Recipe Type Distribution:</p>
        <a class="link" href="{% url 'recipes:recipe_type_distribution_detail' type_of_recipe=type_of_recipe %}">Go to Recipe Type Distribution</a>
    </div>

    <div class="visualization-link horizontal-centering">
        <h2>Recipes Created Per Month</h2>
        <p>Click the link below to view the Recipes Created Per Month:</p>
        <a class="link" href="{% url 'recipes:recipes_created_per_month' %}">Go to Recipes Created Per Month</a>
    </div>

    <div class="background-container">
        <!-- Footer with a background image -->
        <footer style="background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('{% static 'recipes/images/tomatoes-near-mushrooms-herbs.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-position: center bottom; position: fixed; bottom: 0; left: 0; right: 0; height: 21%;">
            <img src="{% static 'recipes/images/tomatoes-near-mushrooms-herbs.jpg' %}" alt="Background Image" style="width: 100%; height: auto; opacity: 0.7;">
            <!-- Attribution details inside the footer -->
            <div class="attribution-details">
                Image by <a href="https://www.freepik.com/free-photo/tomatoes-near-mushrooms-herbs_2377752.htm#query=food%20ingredients&position=22&from_view=keyword&track=ais&uuid=e26e1fb1-6ad4-47f1-a890-f41a3f3011f3">Freepik</a>
            </div>
        </footer>
    </div>

</body>
</html>
