:root {
    --secondary-color: #fbd6cf; 
    --secondary-hover: #FA8072;
    --dark-salm: #d45e51;

}

/*general link stylings*/
.link {
    color: salmon;
    text-decoration: none;
    transition: transform 0.2s;
}

.link:hover {
    color: #ff725b;
    transform: scale(1.1);
}

.link {
    color: var(--dark-salm);
    display: inline-block;
    font-size: large;
}

.link:hover{
    transform: scale(1.1);
}

/*font*/
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

/*styles container with title, subtitle, and logo*/
header {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 4em; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px;
    margin-bottom: -5%;
}


.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.horizontal-centering {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.raised {
    margin-top: -21px;
}

.detail-text {
    padding: 10px;
    font-size: 20px;
    margin: 35px 140px 140px; 
    text-align: left;
}

.txt-20 {
    font-size: 20px;
}

.increase-top-margin {
    margin-top: 50px;
}

/* Scrolling Images */

.scrolling-images-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    white-space: nowrap;
    margin-top:-5%;
}

.scrolling-images {
    display: flex;
    animation: scroll 50s linear infinite;
}

.scrolling-images img {
    width: 250px; 
    height: 300px;
    margin-right: 10px; 
    margin-left: 10px; 
}

/*HOMEPAGE OPTIONS*/
.homepage-options-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-right: 35px;
}

.homepage-options-section {
    width: 30%; 
    box-sizing: border-box;
    margin-bottom: 20px; 
    margin-right: 10px;
}


@media (max-width: 768px) {
    .homepage-options-section {
        width: 100%; 
        margin-right: 0;
    }
}

/*TAY-BULL-SAH!*/
.full-width-table {
    width: 70%;
    border: 1px solid white;
}


.full-width-table table {
    border-collapse: collapse; /* Remove default spacing between table cells */
    border: 1px solid white;
}

.full-width-table td {
    padding: 10px; 
    border: 1px solid white;
    font-size: 25px;
}


.full-width-table .link {
    color: salmon;
    text-decoration: none;
    transition: transform 0.2s;
}

.full-width-table .link:hover {
    color: #ff725b;
    transform: scale(1.1); 
}

.table-headers {
    font-size: 135%;
    text-decoration: none;
    padding:5%;
}

.table-rows tr {
    height: 5%;  /* Adjust the height of the table rows as needed */
}

.table-rows img {
    max-height: 100%;  /* Make the images take up the entire height of the container */
    width: 100%;  
    height: 80px;  
    object-fit: cover;  /* Maintain aspect ratio and cover the entire container */
}


/*BUTTONS*/


.upload-button {
    background-color: #fbd6cf;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 

}

.upload-button:hover {
    background-color: white;
}

.browse-button {
    background-color: #FA8072;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.search-button {
    background-color: #fbd6cf;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* adjust the value to control the roundness */
}

.browse-button:hover,
.search-button:hover {
    background-color: white;
}

/*styling for enter new recipe forms*/
.new-recipe-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

}

.new-recipe-content {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 

}

/* remove bullet points and style the results */
.recipe-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-item {
    margin: 10px;
    text-align: center;
}

.recipe-image {
    width: 170px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 8px; /* Add rounded corners */
}

.recipe-name {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}


/*LOGO*/

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 80px; /* Adjust the maximum width of the logo as needed */
    margin-right: 20px; /* Adjust the margin as needed for spacing */
}

.header-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
}

.title-container {
    text-align: left; /* Align the title text to the left */
}

h1, h2 {
    margin: 0;
}


.subtitle-text {
    margin-top: -15px;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% viewport height */
    margin: 0;
}

.salmon-container {
    flex: 1;
    height: 100px; 
    min-height: 21vh !important; 
    background-color: salmon;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.light-salmon-container {
    background-color: var(--secondary-color);
    text-align: right;
    height: 250px;
    width: 100%;
}

.title-raise{
    margin-top: -9.3%;
}


/*SEARCH*/
.search-form {
    width: 300px; 
    font-size: 16px; 
    padding: 12px; 
    font-family: inherit;
}

@media screen and (max-width: 600px) {
    .salmon-container {
        padding: 1%; /* Adjust as needed for smaller screens */
    }

    .search-form {
        font-size: 14px; /* Adjust as needed for smaller screens */
    }
}

.search-bar {
    margin-bottom: 20px;
}

.search-form label, .search-form input {
    margin-bottom: 10px; 
    display: block; /* Display label and input on separate lines */
}

.search-results-forms {
    width: 300px; 
    font-size: 16px; 
    padding: 12px; 
    font-family: inherit;
}


/* Login and Logout Links */
.login-link, .logout-link {
    color: salmon;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s;
}

.login-link:hover, .logout-link:hover {
    color: rgb(254, 88, 70); 
    transform: scale(1.1);
}

.success-login {
    font-size: 26px;
    text-align: center;
}



/* Success Page */
.success-page {
    text-align: center;
    padding: 40px;
}

.success-message {
    font-size: 24px;
    color: salmon; /* Adjusted color for success messages */
}

.success-link {
    color: salmon;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.success-link:hover {
    color: #fbd6cf; 
}

.footer-with-attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Adjust the height as needed */
}

.attribution-details {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
}

/* Login Form Styles */
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
}

.login-form {
    font-size: 23px; /* Adjust the font size as needed */
    font-family: 'Georgia', serif; /* Use the same font family as the rest of the app */
    max-width: 400px; /* Adjust the maximum width of the form */
    margin: -20% auto 0; /* Center the form horizontally */
}

.login-form button {
    margin-top: 15px; /* Adjust the margin between form and button */
    background-color: #fbd6cf;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.login-form button:hover {
    background-color: white;
}


.login-form input {
    font-family: 'Georgia', serif;
    font-size: 20px; 
}





/* MISCELLANEOUS */



.recipe-names {
    color: var(--dark-salm);
    text-decoration: none;
    font-size: 115%;
    padding: 5%;
}

.error-message {
    color: red;  /* Set the color to red */
    display: none;  /* Hide the error message by default */
    font-weight: bold;
}




